<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Finder</title>
  </head>
  <header>
    <nav class="navbar">
      <img src="../assets/website_logo.png" />
      <a href="/">Home</a>
      <a href="/finder">Lernpartner finden</a>
      <a href="/rooms">Lernräume</a>
      <button onclick="window.location.href='/profile'">Profile</button>
    </nav>
  </header>
  <body>
    <div class="container">
      <div class="top">
        <h1>Willkommen bei Finder!</h1>
        <p>Finde Lernpartner und tausche dich mit anderen aus!</p>
      </div>

      <div class="welcome">
        <h1>Was ist Finder?</h1>
        <p>
          Auf dieser Seite helfen wir dir, die richtigen Lernpartner zu finden,
          die deine Ziele teilen und mit dir gemeinsam lernen möchten. Du kannst
          gezielt nach Menschen suchen, die deine Interessen und Lernziele
          haben, um so gemeinsam Fortschritte zu machen.
        </p>
        <p>
          Zusätzlich bieten wir dir die Möglichkeit, dich in unseren Chatrooms
          mit anderen Lernenden auszutauschen und zu diskutieren. Hier kannst du
          Fragen stellen, Ideen teilen und dich mit einer unterstützenden
          Community vernetzen.
        </p>
        <p>
          Nutze die Plattform, um dein Lernen zu optimieren und mit anderen zu
          wachsen!
        </p>
      </div>
    </div>
  </body>
</html>
