<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/rooms.css" />
    <title>Lernräume</title>
  </head>
  <header>
    <nav class="navbar">
      <img src="../assets/website_logo.png" />
      <a href="/">Home</a>
      <a href="/finder">Lernpartner finden</a>
      <a href="/rooms">Lernräume</a>
      <button onclick="window.location.href='/profile'">Profile</button>
    </nav>
  </header>
  <body></body>
</html>
